body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    LINE-HEIGHT: 5px;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

a.two{
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

a.two:hover {
    text-decoration: underline;
    font-family:'Arial';
}

h2 {
    LINE-HEIGHT: 5px;
    font-weight: normal;
    font-size: 15px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #999;
}


p {
    font-size: 1.0em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
}

ol {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
}
ol p {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
