<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="/css/main.css" rel="stylesheet">
			<link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
				<li><a href="/readings">Readings</a></li>
				<li><a href="/cpp">C++</a></li>
				<li><a href="/python">Python</a></li>
	        		<li><a href="/tableau">Tableau</a></li>
				<li><a href="/form 6">SG GI Market Dashboard</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:chanzhanliang@gmail.com">email</a></li>
	        		<li><a href="https://www.linkedin.com/in/chanzhanliang">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
